---
import Layout from '../layouts/Layout.astro';
import HackathonComponent from '../components/HackathonComponent.tsx';
---

<Layout title="ETH Chile Hackathon">
  <main style="background-color: #0a0a0a;">
    <HackathonComponent client:load />
  </main>
</Layout>
