---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WhyEthereum from "../components/WhyEthereum.astro";
import ScrollAnimationSections from "../components/ScrollAnimationSections.tsx";
import WhatMakesUnique from "../components/WhatMakesUnique.astro";
import Team from "../components/Team.astro";
import Hackathon from "../components/Hackathon.astro";
import Conference from "../components/Conference.astro";
import Socials from "../components/Socials.astro";

import Footer from "../components/Footer.tsx";

import { SponsorshipTiersAnimated } from "../components/SponsorshipTiersAnimated.tsx";

import SocialProof from "../components/SocialProof.astro";
import TrustedBy from "../components/TrustedBy.tsx";
import Hero from "../components/Hero";
import RulerCarousel from "../components/RulerCarousel.tsx";
---

<Layout title="ETHChile 2025 - Ethereum Meets the Real World">
  <div style="margin: 0; padding: 0; background-color: #000000;">
    <RulerCarousel client:load />
    <Header />
    <section id="hero">
      <Hero client:load />
    </section>
    <section id="why-eth">
      <WhyEthereum />
    </section>
    <section id="why-latam">
      <ScrollAnimationSections client:load />
    </section>
    <section id="chile">
      <WhatMakesUnique />
    </section>
    <section id="team">
      <Team />
    </section>
    <section id="web3">
      <SocialProof />
    </section>
    <section id="hackathons">
      <Hackathon />
    </section>
    <section id="sponsors">
      <SponsorshipTiersAnimated client:load />
    </section>
    <section id="trusted-by">
      <TrustedBy client:load />
    </section>
    <section id="footer" style="margin: 0; padding: 0;">
      <Footer client:load />
    </section>
  </div>
</Layout>
