---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WhyEthereum from "../components/WhyEthereum.astro";
import ScrollAnimationSections from "../components/ScrollAnimationSections.tsx";
import WhatMakesUnique from "../components/WhatMakesUnique.astro";
import Team from "../components/Team.astro";
import Conference from "../components/Conference.astro";
import Socials from "../components/Socials.astro";

import Footer from "../components/Footer.tsx";

import { SponsorshipTiersAnimated } from "../components/SponsorshipTiersAnimated.tsx";

import SocialProof from "../components/SocialProof.astro";
import Hero from "../components/Hero";
import RulerCarousel from "../components/RulerCarousel.tsx";
import AppWrapper from "../components/AppWrapper.tsx";
import HackathonSection from "../components/HackathonSection.tsx";
---

<Layout title="ETHChile 2025 - Ethereum Meets the Real World">
  <AppWrapper client:load>
    <div style="margin: 0; padding: 0; position: relative;">
      <RulerCarousel client:load />
      <Header />
      <section id="hero" style="position: relative; z-index: 1;">
        <Hero client:load />
      </section>
      <section id="why-eth" style="position: relative; z-index: 2;">
        <WhyEthereum />
      </section>
      <section id="why-latam" style="position: relative; z-index: 2;">
        <ScrollAnimationSections client:load />
      </section>
      <section id="chile" style="position: relative; z-index: 2;">
        <WhatMakesUnique />
      </section>
      <section id="hackathons" style="position: relative; z-index: 2;">
        <HackathonSection client:load />
      </section>
      <section id="team" style="position: relative; z-index: 2;">
        <Team />
      </section>
      <section id="web3" style="position: relative; z-index: 2;">
        <SocialProof />
      </section>
      <section id="sponsors" style="position: relative; z-index: 2;">
        <SponsorshipTiersAnimated client:load />
      </section>
      <section
        id="footer"
        style="margin: 0; padding: 0; position: relative; z-index: 2;"
      >
        <Footer client:load />
      </section>
    </div>
  </AppWrapper>
</Layout>
