---
import { Picture } from "@astrojs/image/components";
import catedral from 'assets/catedral.png'
---

<section class="flex flex-col min-h-[100vh] bg-custom-black items-center justify-center text-white md:pt-[10vh] md:flex-row" id="conference">
    <Picture src={catedral} alt="Catedral 3D" widths={[270, 540]} aspectRatio="1:1" sizes="(min-width: 1024px) 540px, 270px" class="mb-5 md:mr-5"/>
    <div class="flex flex-col md:max-w-[30%] space-y-5 mx-10 md:mx-20">
        <h2 class="text-[2.2rem] font-raleway font-light md:text-5xl md:mb-3">ETHSantiago <span class="font-semibold">2023</span></h2>
        <p class="text-lg">
            Evento construído por pioneros locales de la tecnología, quienes han buscado educar e impactar en Chile desde sus inicios.
        </p>
        <p class="text-lg">
            ETHSantiago busca conectar a todos los individuos y comunidades nacionales en un evento que les entregue las herramientas y conocimiento para adentrarse en esta fascinante tecnología.
        </p>
    </div>
</section>