---
import { Image } from "astro:assets";
import logo from "../assets/logo-claro.png";
import { ConnectWallet } from "./ConnectWallet.tsx";
---

<header
  class="flex w-full min-h-[10vh] justify-between items-center px-10 fixed top-0 left-0 bg-transparent z-50 animate-fade-in"
  style="animation: fadeIn 1s ease-in-out;"
>
  <a
    href="javascript:void(0);"
    class="flex justify-center items-center"
    onclick="window.scrollTo(0, 0);"
  >
    <Image
      src={logo}
      alt="Logo Ethereum Chile"
      width={54}
      height={54}
      class="w-10 lg:w-[54px] h-10 lg:h-[54px]"
    />
    <h2
      class="font-raleway font-light text-3xl ml-4 hidden md:block text-white"
    >
      ethereum <span class="font-semibold">Chile</span>
    </h2>
  </a>

  <div class="flex items-center">
    <ConnectWallet client:load />
  </div>
</header>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
