---
import { Image } from "astro:assets";
import logo from "../assets/logo-claro.png";
import { ConnectWallet } from "./ConnectWallet.tsx";
---

<header
  class="flex min-w-full min-h-[10vh] justify-between items-center px-10 sticky top-0 bg-transparent z-50"
>
  <a
    href="javascript:void(0);"
    class="flex justify-center items-center"
    onclick="window.scrollTo(0, 0);"
  >
    <Image
      src={logo}
      alt="Logo Ethereum Chile"
      width={54}
      height={54}
      class="w-10 lg:w-[54px] h-10 lg:h-[54px]"
    />
    <h2
      class="font-raleway font-light text-3xl ml-4 hidden md:block text-white"
    >
      ethereum <span class="font-semibold">Chile</span>
    </h2>
  </a>
  <div class="flex items-center">
    <ConnectWallet client:load />
  </div>
</header>
