---
import { Picture } from '@astrojs/image/components'
import logo from '../assets/logo-claro.png'
---

<header class="flex min-w-full min-h-[10vh] justify-between items-center px-10 sticky top-0 bg-white z-50">
    <a href="javascript:void(0);" class="flex justify-center items-center" onclick="window.scrollTo(0, 0);">
        <Picture src={logo} alt="Logo Ethereum Chile" widths={[40,54]} aspectRatio="1:1" sizes="(min-width: 1024px) 54px, (max-width: 768px) 40px"/>
        <h2 class="font-raleway font-light text-3xl ml-4 hidden md:block">ethereum <span class="font-semibold">Chile</span></h2>
    </a>
    <button class="md:hidden"></button>
    <nav class="hidden space-x-10 mr-5 md:flex">
        <a href="#conference" class="text-lg hover:text-custom-blue">ETHSantiago</a>
        <a href="#socials" class="text-lg hover:text-custom-blue">Redes</a>
        <a href="#team" class="text-lg hover:text-custom-blue">Equipo</a>
    </nav>
</header>