---
import { ScrollFloat } from "./ScrollFloat.tsx";
---

<main class="flex flex-col min-h-screen">
  <div
    class="flex flex-col grow md:justify-evenly items-center md:flex-row min-h-screen"
  >
    <ScrollFloat
      client:load
      containerClassName="text-center"
      textClassName="text-[2.8rem] font-raleway font-light md:text-6xl mt-6 mb-4 md:my-0"
      animationDuration={1.5}
      ease="back.inOut(2)"
      scrollStart="center bottom+=50%"
      scrollEnd="bottom bottom-=40%"
      stagger={0.05}
    >
      ethereum Chile
    </ScrollFloat>
    <div
      class="max-w-[80%] flex flex-col md:max-w-[60%] md:space-x-5 justify-end md:flex-row"
    >
      <p class="md:max-w-[45%] text-lg mb-4">
        Chile: El hub financiero del futuro descentralizado.
      </p>
      <p class="md:max-w-[45%] text-lg">
        Ethereum encuentra su hogar en Latinoamérica.
      </p>
    </div>
  </div>
</main>
