---
import { Icon } from 'astro-icon'
---

<section class="flex flex-col justify-center min-h-[50vh] px-40" id="socials">
    <h2 class="font-raleway text-4xl mb-10 font-semibold">Redes</h2>
    <div class="flex items-center justify-between">
        <p class="max-w-[40%] text-xl">
            ¡Síguenos en nuestras redes sociales y mantente al tanto de las últimas novedades de Ethereum!
        </p>
        <div class="flex space-x-10 grow justify-center">
            <a href="/">
                <Icon name="twitter" class="w-16 h-16">
            </a>
            <a href="/">
                <Icon name="telegram" class="w-16 h-16">
            </a>
            <a href="/">
                <Icon name="instagram" class="w-16 h-16">
            </a>
            <a href="/">
                <Icon name="youtube" class="w-16 h-16">
            </a>
        </div>
    </div>
</section>