---
import { Picture } from "@astrojs/image/components";
import andres from 'assets/andres.jpg'
import cristobal from 'assets/cristobal.jpg'
import diego from 'assets/diego.jpg'
import ignacio from 'assets/ignacio.jpg'
import nate from 'assets/nate.jpg'
import nati from 'assets/nati.jpg'
import pato from 'assets/pato.jpg'
import patricio from 'assets/patricio.jpg'
---

<section class="flex flex-col">
    
</section>