---
import TeamContent from "./TeamContent.tsx";
---

<section
  class="min-h-screen md:min-h-screen p-8 flex flex-col justify-between relative"
  id="team"
  style="min-height: 100vh;"
>
  <TeamContent client:load />
</section>
