---
import WhatMakesUniqueContent from "./WhatMakesUniqueContent.tsx";
---

<section
  class="min-h-screen relative"
  style="background-color: #0a0a0a"
  id="what-makes-unique-section"
>
  {/* Content Overlay */}
  <div class="relative z-10">
    <WhatMakesUniqueContent client:load />
  </div>
</section>
