---
import { HyperText } from "./HyperText.tsx";
---

<section
  class="min-h-screen border border-white p-8 flex flex-col justify-center pt-32 pb-48"
>
  <div class="text-center mb-8">
    <HyperText
      client:load
      text="Why Ethereum, Why Now"
      duration={1000}
      className="text-4xl font-raleway font-semibold"
      animateOnLoad={true}
    />
  </div>
  <div
    class="max-w-4xl mx-auto text-center flex flex-col justify-start flex-1 gap-16"
  >
    <p class="text-2xl mb-6">🧠 Ethereum is now critical infrastructure</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-8">
      <div class="border border-white p-6 rounded-lg">
        <p class="text-3xl font-bold">17M+</p>
        <p class="text-lg">Users</p>
      </div>
      <div class="border border-white p-6 rounded-lg">
        <p class="text-3xl font-bold">$50B+</p>
        <p class="text-lg">TVL</p>
      </div>
      <div class="border border-white p-6 rounded-lg">
        <p class="text-3xl font-bold">Pectra</p>
        <p class="text-lg">Upgrade</p>
      </div>
    </div>
  </div>
</section>
